@use './utilities/colors' as *;
@use './utilities/sizes' as *;
@use './components/components' as *;
@use './components/nav';
@use './components/footer';
@use './pages/landingPage';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

// ::selection {
// 	background-color: var(--color-selection);
// }

a {
	text-decoration: none;
	color: var(--text);
	cursor: pointer;
}

body {
	height: 100vh;
	font: $text-regular;
	letter-spacing: 2%;
	@include interFont;
	font-weight: 200;
	background-color: var(--bg-dark);
	color: var(--text);
}

li {
	list-style: none;
}
