@use '../utilities/sizes' as *;
@use '../components/components' as *;

.contact {
	position: relative;
	min-height: 100vh;
	overflow: hidden;

	&__heading {
		margin-bottom: $margin-xxs;
	}

	&__text {
		font-weight: normal;

		&--secondary {
			color: var(--text-secondary);
		}

		&--small {
			font: $text-small;
			font-size: 1.4rem;
		}
	}

	&__gif {
		margin-top: $margin-m;
		margin-bottom: $margin-l;
		width: 100%;
		max-width: 250px;
	}

	&__box {
		margin-top: $margin-xxl;
		width: 100%;
		height: 100%;
	}

	&__form {
		width: 100%;
		max-width: 600px;

		&-name {
			display: flex;
			justify-content: center;
			flex-direction: column;
			margin-top: $margin-m;
			width: 100%;
			height: 100%;

			&:first-child {
				margin-top: 0;
			}
		}

		&-box {
			display: flex;
			flex-direction: column;
			margin-top: $margin-m;
		}

		&-input,
		&-textarea {
			margin-top: $margin-xxs;
			padding: 12px 5px;
			font: $text-small;
			background-color: var(--bg);
			border: 1px solid var(--border);
		}

		&-input:focus-visible,
		&-textarea:focus-visible {
			outline: 1px solid var(--primary);
		}

		&-textarea {
			min-height: 200px;
			font-family: $ff-text;
			font-size: 1.4rem;
			resize: vertical;
		}

		&-textBox {
			margin-bottom: 1em;
		}

		&-error {
			font-size: 1.4rem;
			color: var(--danger);
		}
	}

	&__box-btn {
		display: flex;
		flex-direction: row-reverse;
		margin-top: $margin-xl;
	}

	&__btn {
		@include btn;
		padding: $padding-s $padding-m;
		width: 150px;

		&:hover {
			background-color: var(--bg);
			color: var(--primary);
		}
	}

	.succes {
		background-color: var(--success);
	}

	.error {
		background-color: var(--danger);
	}

	&__checkbox-box {
		display: flex;
		align-items: flex-start;
		margin-top: $margin-xs;
	}

	&__link {
		color: var(--primary);
	}

	&__checkbox {
		margin-top: 0.25em;
		margin-right: 0.5em;
		font-size: 1.4rem;
	}

	&__checkbox-text {
		margin: 0;
		font-size: 1.4rem;
	}
}

.contact__form-box.contact__form-error-input input,
.contact__form-box.contact__form-error-input textarea {
	background-color: var(--danger);
	border: 1px solid var(--primary);
	opacity: 0.8;
}

.contact + .footer .wrapper {
	display: flex;
	align-items: flex-end;
}

.contact + .footer {
	height: 300px;
}

.contact + .footer .footer.section-padding {
	padding-top: 0;
}

@media (width >= 576px) {
	.contact {
		&__form {
			width: 100%;
			max-width: 600px;

			&-name-box {
				display: flex;
				gap: 20px;
			}

			&-name {
				margin-top: 0;
			}
		}
	}
}

@media (width >= 768px) {
	.contact {
		&__text-box {
			width: 100%;
		}

		&__box {
			width: 100%;
		}

		&__form {
			width: 100%;
			max-width: 650px;

			&-name {
				margin-top: 0;
			}

			&-name-box {
				display: flex;
				gap: 20px;
			}

			&-textarea {
				min-height: 250px;
			}
		}
	}
}
