@use '../utilities/sizes' as *;
@use '../components/components' as *;

.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	color: var(--text-light);
	overflow: hidden;

	&__heading-box {
		width: 60%;
	}

	&__heading {
		font: $h1;
		letter-spacing: $h1-spacing;
		margin-bottom: $margin-m;
	}

	&__text {
		font: $text-regular;
	}

	&__video {
		position: absolute;
		top: 50%;
		left: 50%;
		width: auto;
		height: 100%;
		min-width: 100%;
		min-height: 100%;
		transform: translate(-50%, -50%);
		object-fit: cover;
		z-index: -1;
	}

	&__btns {
		display: flex;
		align-items: center;
		margin-top: $margin-xxl;

		&-arrow {
			margin-top: $margin-xxs;
			width: 30px;
			transform: translateX(-5px) scale(0.8);
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
		}
	}

	&__btn {
		display: inline-block;
		padding: $margin-s $margin-m;
		font: $text-small;
		font-weight: normal;
		text-align: center;
		color: var(--text-light);

		&--left {
			margin-right: $margin-xxs;
			width: 200px;
			border: 2px solid var(--text-light);
			border-radius: 9999px;
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				color: var(--primary);
				background-color: var(--bg-light);
			}
		}

		&--right {
			padding-right: $margin-xxs;

			&:hover + .header__btns-arrow {
				opacity: 0.8;
				visibility: visible;
				transform: translateX(0px) scale(1);
			}
		}
	}

	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: hsla(210, 51%, 1%, 0.7);
		z-index: -1;
	}
}

.opinions {
	margin-bottom: $margin-4xl;
	min-height: 100vh;

	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: $margin-s;
		margin-bottom: $margin-l;
		width: 100%;
		height: 400px;
	}

	&__viewport {
		position: relative;
		display: flex;
		align-items: flex-end;
		padding: $margin-s;
		width: 320px;
		height: 100%;
		overflow: hidden;
	}

	&__slider {
		display: flex;
		gap: 20px;
		transition: transform 0.3s ease-in-out;
	}

	&__card {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		@include card;
		min-width: 300px;

		&-heading {
			margin-top: 60px;
			margin-bottom: $margin-xs;
			font: $text-regular;
			text-transform: uppercase;
			text-align: center;
		}

		&-text {
			margin-bottom: $margin-xs;
			font: $text-regular;
			color: var(--text-secondary);
		}
	}

	&__img {
		position: absolute;
		top: -10%;
		left: 50%;
		width: 90px;
		height: 90px;
		transform: translateX(-50%);
		border-radius: 50%;
		object-fit: cover;
	}

	&__progress {
		display: flex;
		justify-content: center;
		gap: 5px;

		&-dot {
			height: 12px;
			width: 12px;
			border-radius: 50%;
			background-color: var(--bg-light);
			cursor: pointer;

			&--active {
				background-color: var(--primary);
			}
		}
	}

	&__btns {
		@include sliderBtns;
		margin-top: $margin-m;
		margin-bottom: $margin-4xl;
	}

	&__btn {
		@include sliderBtn;
	}

	&__logos {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 20px;
		margin-top: $margin-xxl;

		&-row {
			display: flex;
			gap: 15px;
		}
	}

	&__logo {
		background-color: var(--bg-light);
		width: 100%;

		&-img {
			height: 100%;
			width: 100%;
			max-width: 150px;
			max-height: 150px;
		}
	}
}

.about {
	display: flex;
	align-items: center;
	min-height: 100vh;
	background-color: var(--primary);
	color: var(--text-light);

	&__box {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 20px;
		margin-top: $margin-xxl;

		&-img {
			display: flex;
			justify-content: center;
			width: 100%;
			height: 100%;
		}

		&-text {
			margin-top: $margin-s;
			max-width: 600px;
		}
	}

	&__text {
		margin-top: $margin-xxs;

		&--big {
			font: $text-h2;
			font-size: 1.8rem;
			font-weight: bolder;
			letter-spacing: 2%;
		}

		&--highlighted {
			color: var(--text-light);
		}
	}

	&__img {
		max-width: 600px;
		width: 100%;
	}
}

.realization {
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;

	&.section-padding {
		padding: 4.2rem 0;
		margin-left: 1em;
	}

	// .realization__cards,
	// .realization__viewport,
	// .realization__slider,
	// .realization__card {
	// 	outline: 1px solid red;
	// }

	&__cards {
		margin-top: $margin-xl;
		margin-bottom: $margin-l;
	}

	&__viewport {
		padding: $margin-s;
		height: 100%;
		overflow: hidden;
	}

	&__slider {
		display: flex;
		gap: 20px;
		transition: transform ease-in-out 0.85s;
	}

	&__card {
		@include card;
		min-width: 300px;
		height: 380px;

		&:hover &-number {
			background-color: var(--bg-dark);
		}

		&-number {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 70px;
			width: 70px;
			font: $text-h2;
			color: var(--primary);
			font-size: 3rem;
			border-radius: 50%;
			background-color: var(--bg-light);
			transition: background-color 0.1s;
		}

		&-heading {
			margin-top: $margin-xxl;
			margin-bottom: $margin-xs;
		}
	}

	&__btns {
		@include sliderBtns;
	}

	&__btn {
		@include sliderBtn;
	}
}

.technologies {
	min-height: 100vh;
	background-color: var(--secondary);
	color: var(--text-light);
}
