@use '../utilities/sizes' as *;
@use '../components/components' as *;

.project {
	&__description {
		margin-top: $margin-m;
		color: var(--text-secondary);
	}

	&__video-box {
		margin-top: $margin-xxxl;
	}

	.projects__heading {
		margin-top: $margin-l;
	}

	&__goBack {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin-top: auto;
		padding: $padding-s;
		background-color: var(--bg);
		cursor: pointer;

		&-icon {
			width: 32px;
			height: 32px;
		}
	}

	.lite-youtube-fallback {
		aspect-ratio: 16 / 9; /* matches YouTube player */
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 1em;
		padding: 1em;
		background-color: #000;
		color: #fff;
		text-decoration: none;
	}

	/* right-facing triangle "Play" icon */
	.lite-youtube-fallback::before {
		display: block;
		content: '';
		border: solid transparent;
		border-width: 2em 0 2em 3em;
		border-left-color: red;
	}

	.lite-youtube-fallback:hover::before {
		border-left-color: #fff;
	}

	.lite-youtube-fallback:focus {
		outline: 2px solid red;
	}
}

@media (width >= 768px) {
	.project {
		&__goBack {
			&-icon {
				width: 42px;
				height: 42px;
			}
		}
	}
}
