<div class="preloader">
    <div class="preloader__boxes preloader__boxes--horizontal">
        <div class="preloader__box">
            <p class="preloader__text">Ladowanie ...</p>
        </div>
        <div class="preloader__box">
            <p class="preloader__text">Ladowanie ...</p>
        </div>
        <div class="preloader__box">
            <p class="preloader__text">Ladowanie ...</p>
        </div>
    </div>
    <div class="preloader__boxes preloader__boxes--vertical">
        <div class="preloader__box">
            <p class="preloader__text">Ladowanie ...</p>
        </div>
        <div class="preloader__box">
            <p class="preloader__text">Ladowanie ...</p>
        </div>
        <div class="preloader__box">
            <p class="preloader__text">Ladowanie ...</p>
        </div>
    </div>
</div>