:root {
	--bg-dark: hsl(206 22% 90%);
	--bg: hsl(206 46% 95%);
	--bg-light: hsl(206 100% 100%);

	--text: hsl(206, 62%, 5%);
	--text-light: hsl(205, 92%, 95%);
	--text-secondary: hsl(205, 13%, 28%);

	--primary: #004666;
	--secondary: hsl(33 100% 20%);

	--highlight: hsl(206 100% 100%);
	--border: hsl(206 8% 50%);
	--border-secondary: hsl(206 11% 62%);
	--border-card: solid 1px var(--bg);
	--gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
	--gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
	--shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.188), 0px 12px 12px hsla(0, 0%, 0%, 0.082);

	--danger: hsl(9 21% 41%);
	--warning: hsl(52 23% 34%);
	--success: hsl(147 19% 36%);
	--info: hsl(217 22% 41%);

	// https://youtu.be/vvPklRN0Tco?si=0iPC1jXqUBxPClnD --  COLORS TUTORIAL
}

.dark-mode {
	--bg-dark: hsl(206 22% 90%);
	--bg: hsl(206 46% 95%);
	--bg-light: hsl(206 100% 100%);

	--text: hsl(207 63% 5%);
	--text-secondary: hsl(205 13% 28%);

	--primary: hsl(199 100% 20%);
	--secondary: hsl(33 100% 20%);

	--highlight: hsl(206 100% 100%);
	--border: hsl(206 8% 50%);
	--border-secondary: hsl(206 11% 62%);
	--border-card: solid 1px var(--bg);
	--gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
	--gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
	--shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.188), 0px 12px 12px hsla(0, 0%, 0%, 0.082);

	--danger: hsl(9 21% 41%);
	--warning: hsl(52 23% 34%);
	--success: hsl(147 19% 36%);
	--info: hsl(217 22% 41%);
}
