<!DOCTYPE html>
<html lang="{{ langCode }}">

{%block customHead %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "components/head.njk"%}
    <title>{{ lang.meta.title }}</title>
    <meta name="description" content="{{ lang.meta.description }}">
    <link rel="canonical" href="{{  canonicalLink }}" />
    <link rel="alternate" hreflang="pl" href="{{ alternatePL }}" />
    <link rel="alternate" hreflang="en" href="{{ alternateEN }}" />
    <link rel="alternate" hreflang="x-default" href="{{ alternatePL }}" />
</head>

{% endblock %}

<body data-page="{{bodyPage}}">
    {% include "components/nav.njk"%}

    {%block content %} {% endblock %}

    {% include "components/footer.njk"%}
    {% if langCode == "en" %}
    <script src="../js/app.min.js" type="module"></script>
    {% else %}
    <script src="./js/app.min.js" type="module"></script>
    {% endif %}
</body>

</html>