@use '../utilities/sizes' as *;

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-padding {
	padding: 4.2em 1em;
}

.section-heading-box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.h1-heading {
	font: $h1;
	letter-spacing: $h1-spacing;
}

.section-heading {
	font: $h2;
	letter-spacing: $h2-spacing;
	font-weight: 200;
	text-align: center;
	text-transform: uppercase;
}

.section-text {
	margin-top: $margin-xxs;
	font: $text-h2;
	letter-spacing: $h1-spacing;
	text-align: center;
}

.body--noscroll {
	overflow: hidden;
}

.whereAmI {
	margin-top: $margin-l;
	margin-bottom: $margin-xxl;
	font-weight: normal;

	&--highlighted {
		color: var(--primary);
		font-weight: 500;
		cursor: pointer;
	}
}

@mixin underLine {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--color-text);
	content: '';
	z-index: 1000;
}

@mixin interFont {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

@mixin montserratFont {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

@mixin card {
	padding: $padding-l $padding-xl;
	background-image: var(--gradient);
	box-shadow: var(--shadow);
	border: var(--border-card);
	border-top: var(--highlight);
	border-radius: 4px;
	z-index: 1;

	&:hover {
		background-image: var(--gradient-hover);
	}
}

@mixin btn {
	display: flex;
	justify-content: center;
	padding: $margin-xs $margin-s;
	height: 100%;
	font: $text-small;
	font-weight: normal;
	color: var(--text);
	background: transparent;
	border-radius: 9999px;
	border: 2px solid var(--text);
	text-align: center;
	transition: background-color 0.3s, color 0.3s;
}

@mixin sliderBtns {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	width: 100%;
}

@mixin sliderBtn {
	width: 100px;
	@include btn;

	&:hover {
		background-color: var(--text-light);
		color: var(--primary);
	}

	&--active {
		border-color: var(--text-secondary);
		opacity: 0.6;
		pointer-events: none;
	}

	&-arrow {
		width: 20px;
		height: 20px;
	}
}

@mixin bgShadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(210, 51%, 1%, 0.7);
	z-index: -1;
}

@media (width >= 768px) {
	.section-heading {
		font-size: 2rem;
	}

	.section-text {
		font-size: 2.2rem;
	}

	.h1-heading {
		font-size: 5.8rem;
	}
}

@media (width >= 996px) {
	.section-heading {
		font-size: 2.2rem;
	}

	.section-text {
		font-size: 2.4rem;
	}

	.whereAmI {
		font-size: 1.8rem;
	}
}

@media (width >= 1200px) {
	.section-heading {
		font-size: 2.4rem;
	}

	.section-text {
		font-size: 2.6rem;
	}

	.h1-heading {
		font-size: 6.2rem;
	}
}
