@use 'utilities/colors' as *;
@use 'components/components' as *;

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;

	&__box {
		height: 100%;
		width: 100%;
		max-width: 400px;

		&--right {
			display: none;
		}
	}

	&__img {
		width: 100%;
		height: 400px;
	}

	&__heading-box {
		display: flex;
		justify-content: center;
		flex-direction: column;
		font-size: 1.8rem;
	}

	&__heading {
		font-size: 5rem;
		font-family: 'Libre Baskerville';
		font-weight: 400;
		font-style: normal;
		letter-spacing: -2%;
	}

	&__qoute-author {
		margin-top: 1.5em;
		font-size: 1.6rem;
		color: var(--color-text-secondary);
	}

	.fa-quote-left {
		margin-top: 0.25em;
		margin-right: auto;
		font-size: 4rem;
		color: var(--color-accent);
	}

	&__btns {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 100px;
	}
	
	&__btn {
		padding: 0.5em 1em;
		font-size: 1.6rem;
		font-family: 'Source Sans 3', sans-serif;
		text-align: center;
		border-radius: 2px;
		text-decoration: none;
		cursor: pointer;

		&--left {
			width: 80%;
			background-color: var(--color-accent);
			border: none;
			color: #fff;
			transition: background-color 0.3s;

			&:hover {
				background-color: rgba(116, 100, 155, 1);
			}
		}

		&--right {
			margin-top: 1em;
			width: 45%;
			border: 1px solid var(--color-accent);
			color: var(--color-text);
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				color: rgba(116, 100, 155, 1);
			}
		}
	}
}

@media (width >= 576px) {
	.header {
		&__btn {
			&--left {
				width: 100%;
				max-width: 300px;
			}

			&--right {
				width: 60%;
				max-width: 150px;
			}
		}

		&__box {
			max-width: 600px;

			&--right {
				display: none;
			}
		}
	}
}

@media (width < 768px) {
	.header {
		.wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

@media (width >= 768px) {
	.header {
		.wrapper {
			display: flex;
			justify-content: space-around;
		}
	}

	.header {
		&__box {
			max-width: 380px;

			&--right {
				display: flex;
				align-items: center;
			}
		}

		&__btns {
			flex-direction: row;
		}

		&__btn {
			&--left {
				width: 100%;
			}

			&--right {
				width: 60%;
				margin-top: 0;
				margin-left: 1em;
			}
		}
	}
}

@media (width >= 992px) {
	.header {
		&__box {
			max-width: 600px;
		}

		&__btn {
			&--left {
				width: 100%;
				max-width: 300px;
			}

			&--right {
				margin-top: 0;
				margin-left: 1em;
				width: 60%;
				max-width: 150px;
			}
		}
	}
}
